#menu ul li{
	display: inline;
	padding: 3px;
}
#menu ul{
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	/*margin-left: 3px; */
	text-decoration: none;
	padding: 5px;
	font-family: tahoma, sans-serif, verdana;
}
#menu ul li a{
	text-decoration: none;
}

#login{
	padding: 3px;
	float: right;
}

#logout{
	padding: 3px;
	float: right;
}

#auth{
	border: 1px solid #999999;
	margin: 0 40% 0 40%;
	width: 20%;
	margin-top: 10%; 
	padding: 15px 0px 15px 15px;
	border-radius: 5px;
}

#check{
	font-size: 12px;
  	color: #777;
	cursor: pointer;
}

#log{
	width: 237px;
	height: 25px;
	font-size: 15px;
	font-family: arial;
	padding-left: 5px;
	border-radius: 5px; 
}

#pas{
	width: 237px;
	height: 25px;
	font-size: 15px;
	font-family: arial;
	padding-left: 5px;
	border-radius: 5px;  
}

#send{
	width: 245px;
	height: 25px;
	font-size: 15px;
	font-family: arial;
	/*padding-left: 5px; */
	background-color: #006699;
	color: white;
	border-radius: 5px; 
}

#reg{
	color: #006699;
	text-decoration: none;
}

#rem{
	color:  #006699;
	text-decoration: none;
}

#rememb{
	padding-left: 10px;
}