#menu ul li{
	display: inline;
	padding: 3px;
}
#menu ul{
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	/*margin-left: 3px; */
	text-decoration: none;
	padding: 5px;
	font-family: tahoma, sans-serif, verdana;
}
#menu ul li a{
	text-decoration: none;
}

#login{
	padding: 3px;
	float: right;
}

#logout{
	padding: 3px;
	float: right;
}

#log_block1{
	float: left;
	clear: both;
	margin-top: 12%;
	margin-left: 50%;
}

#log_block2{
	margin-top: 12%;
	margin-left: 50%;
}